<div class="loading" ng-show="dialog.loading"></div>

<div ng-show="dialog.dialog">
    <h3 class="container-title">Список сообщений</h3>

    <div class="content-overflow full-height">

        <div class="message-item" ng-repeat="message in dialog.dialog.parts">
            <div class="message-body">
                <div class="message-author">
                    {{message.author}}
                </div>
                <p>
                    {{message.text}}
                </p>
            </div>
        </div>

    </div>
</div>

<div ng-show="!dialog.dialog" class="full-height">
    <div class="vertical">
        <div class="box">
            <h3 class="container-title text-center">Для просмотра сообщений выберете диалог</h3>
        </div>
    </div>
</div>

<div class="send-message-box" ng-show="dialog.dialog">
    <form ng-submit="dialog.send_message()">
        <textarea class="message-textarea" ng-disabled="dialog.sending" placeholder="Введите текст сообщения..."
                  ng-model="dialog.message"></textarea>
        <button type="submit" class="btn" ng-disabled="dialog.sending">Отправить</button>
        <span class="send-loading loading" ng-show="dialog.sending"></span>
    </form>
</div>