<div class="full-height">
    <div class="dialogs-wrapper">
        <div class="dialogs-container full-height">
            <div class="loading" ng-show="dialogs.loading"></div>
            <h3 class="container-title">Мои диалоги</h3>
            <div class="full-height content-overflow">
                <div class="dialog-item" ng-repeat="dialog in dialogs.dialogs"
                     ng-class="{active:$state.params.dialogId==dialog.id}"
                     ui-sref="main.dialogs.dialog({ dialogId: dialog.id })">
                    <div class="dialog-body">
                        <span class="dialog-theme block text-overflow">{{dialog.subject}}</span>
                        <span class="dialog-date block text-overflow">{{dialog.created}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div ui-view="main.dialog" class="dialog-container full-height">
        </div>
    </div>
</div>