<div class="full-height">
    <div ui-view="main.dialogs" class="full-height"></div>
</div>

<!--<div class="app-container">-->
    <!--<div class="dialogs-wrapper">-->
        <!--<div ui-view="main.dialogs" class="dialogs-container">-->

        <!--</div>-->
        <!--<div ui-view="main.dialog" class="dialog-container">-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->